@using System.Linq
@model SpendingReport.ViewModels.Cars.CarDetailViewModel

@{
    ViewBag.Title = "Car Detail";
    Layout = "~/Views/Shared/SpendingMaster.cshtml";

}

<div class="car-detail">
    <span>
        Car name:
        @Html.DisplayTextFor(i => i.Name)
    </span>
    <span>
        Car description:
        @Html.DisplayTextFor(i => i.Description)
    </span>
    <span>
        Tank size:
        @Html.DisplayTextFor(i => i.TankSize)
    </span>
    <span>
        Car color:
        @Html.DisplayTextFor(i => i.Color)
    </span>
</div>
<div class="trips">
    Last Trip:
    @if (Model.LastTrip != null)
    {
        @Html.DisplayTextFor(i=>i.LastTrip.Date.ToShortDateString())
        @Html.DisplayTextFor(i => i.LastTrip.From)
        @Html.DisplayTextFor(i => i.LastTrip.To)
        @Html.DisplayTextFor(i => i.LastTrip.DistanceStart.ToString())
        @Html.DisplayTextFor(i => i.LastTrip.DistanceEnd.ToString())
        @Html.DisplayText((Model.LastTrip.DistanceEnd - Model.LastTrip.DistanceEnd).ToString())
        @Html.ActionLink("Get all trips", "AllTrips", new { id = Model.Id })
    }
    @Html.ActionLink("Add new trip", "AddTrip", new { id = Model.Id })
</div>
<div class="purchase">
    Last Purchase:
    @if (Model.LastPurchase != null)
    {
        @Html.DisplayTextFor(i=>i.LastPurchase.Date.ToShortDateString())
        @Html.DisplayTextFor(i => i.LastPurchase.Name)
        @Html.DisplayTextFor(i => i.LastPurchase.Description)
        @Html.DisplayTextFor(i => i.LastPurchase.Price.ToString())
        if (Model.LastPurchase.Station != null)
        {
            @Html.DisplayTextFor(i => i.LastPurchase.Station.Name)
            @Html.DisplayTextFor(i => i.LastPurchase.Station.Address)
        }
        @Html.ActionLink("Get all purchases", "AllPurchases", new { id = Model.Id })
    }
    @Html.ActionLink("Add new purchase", "AddPurchase", new { id = Model.Id })
</div>

<div class="tank-status">
    Last Purchase:
    @if (Model.LastTankStatus != null)
    {
        @Html.DisplayTextFor(i => i.LastTankStatus.Date.ToShortDateString())
        @Html.DisplayTextFor(i => i.LastTankStatus.TotalDistance)
        @Html.DisplayTextFor(i => i.LastTankStatus.Percentage)
        @Html.DisplayTextFor(i => i.LastTankStatus.IsEmpty)
        @Html.ActionLink("Get all tank statuses", "AllTankStatuses", new { id = Model.Id })
    }
    @Html.ActionLink("Add new tank status", "AddTankStatus", new { id = Model.Id })
</div>

<div class="fueling">
    Last Purchase:
    @if (Model.LastFueling != null)
    {
        @Html.DisplayTextFor(i => i.LastFueling.FuelPrice)
        @Html.DisplayTextFor(i => i.LastFueling.Value)
        @Html.ActionLink("Get all Fuelings", "AllFuelings", new { id = Model.Id })
    }
    @Html.ActionLink("Add new fueling", "AddFueling", new { id = Model.Id })
</div>